progress,
sub,
sup {
    vertical-align: baseline
}

button,
hr,
input {
    overflow: visible
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

dl,
sub,
sup {
    position: relative
}

.left-nav li.item,
.left-nav li.item ul li,
.nav li.item,
.pagination,
.pricing-table .content ul li,
.tab-nav li,
.top-nav li.item,
.top-nav li.item ul li {
    list-style-type: none
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

.modal,
textarea {
    overflow: auto
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.demo-container {
    background-color: #eee;
    border: 2px solid #f08080;
    margin: 15px
}

.demo-item {
    background: #00bfff;
    color: #fff;
    line-height: 50px;
    font-weight: 600;
    text-align: center
}

.container {
    display: flex;
    flex-wrap: wrap
}

.container .col-lg-1,
.container .col-lg-10,
.container .col-lg-11,
.container .col-lg-12,
.container .col-lg-2,
.container .col-lg-3,
.container .col-lg-4,
.container .col-lg-5,
.container .col-lg-6,
.container .col-lg-7,
.container .col-lg-8,
.container .col-lg-9,
.container .col-md-1,
.container .col-md-10,
.container .col-md-11,
.container .col-md-12,
.container .col-md-2,
.container .col-md-3,
.container .col-md-4,
.container .col-md-5,
.container .col-md-6,
.container .col-md-7,
.container .col-md-8,
.container .col-md-9,
.container .col-sm-1,
.container .col-sm-10,
.container .col-sm-11,
.container .col-sm-12,
.container .col-sm-2,
.container .col-sm-3,
.container .col-sm-4,
.container .col-sm-5,
.container .col-sm-6,
.container .col-sm-7,
.container .col-sm-8,
.container .col-sm-9 {
    width: 100%
}

@media (min-width:0px) {
    .container .col-sm-1 {
        width: 8.33333%
    }
    .container .col-sm-2 {
        width: 16.66667%
    }
    .container .col-sm-3 {
        width: 25%
    }
    .container .col-sm-4 {
        width: 33.33333%
    }
    .container .col-sm-5 {
        width: 41.66667%
    }
    .container .col-sm-6 {
        width: 50%
    }
    .container .col-sm-7 {
        width: 58.33333%
    }
    .container .col-sm-8 {
        width: 66.66667%
    }
    .container .col-sm-9 {
        width: 75%
    }
    .container .col-sm-10 {
        width: 83.33333%
    }
    .container .col-sm-11 {
        width: 91.66667%
    }
    .container .col-sm-12 {
        width: 100%
    }
}

@media (min-width:768px) {
    .container .col-md-1 {
        width: 8.33333%
    }
    .container .col-md-2 {
        width: 16.66667%
    }
    .container .col-md-3 {
        width: 25%
    }
    .container .col-md-4 {
        width: 33.33333%
    }
    .container .col-md-5 {
        width: 41.66667%
    }
    .container .col-md-6 {
        width: 50%
    }
    .container .col-md-7 {
        width: 58.33333%
    }
    .container .col-md-8 {
        width: 66.66667%
    }
    .container .col-md-9 {
        width: 75%
    }
    .container .col-md-10 {
        width: 83.33333%
    }
    .container .col-md-11 {
        width: 91.66667%
    }
    .container .col-md-12 {
        width: 100%
    }
}

@media (min-width:1024px) {
    .container .col-lg-1 {
        width: 8.33333%
    }
    .container .col-lg-2 {
        width: 16.66667%
    }
    .container .col-lg-3 {
        width: 25%
    }
    .container .col-lg-4 {
        width: 33.33333%
    }
    .container .col-lg-5 {
        width: 41.66667%
    }
    .container .col-lg-6 {
        width: 50%
    }
    .container .col-lg-7 {
        width: 58.33333%
    }
    .container .col-lg-8 {
        width: 66.66667%
    }
    .container .col-lg-9 {
        width: 75%
    }
    .container .col-lg-10 {
        width: 83.33333%
    }
    .container .col-lg-11 {
        width: 91.66667%
    }
    .container .col-lg-12 {
        width: 100%
    }
}

dl {
    display: flex;
    flex-direction: column
}

dl .chart-row {
    background: repeating-linear-gradient(to right, #e2e2e2, #e2e2e2 1px, transparent 1px, transparent 5%);
    border-right: 1px solid #e2e2e2;
    margin-left: 150px;
    padding: 2px 0
}

dl .chart-row .label {
    align-items: center;
    display: flex;
    height: 34px;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    width: 130px
}

dl .chart-row .bar {
    background-color: #27ae60;
    display: block;
    height: 30px;
    position: relative
}

.left-nav,
.modal {
    height: 100%;
    top: 0;
    left: 0
}

dl .chart-row .bar:focus,
dl .chart-row .bar:hover {
    background-color: #1f8b4d;
    cursor: pointer
}

.accordion {
    border: 1px solid #bbb;
    border-top: none
}

.accordion .item,
.accordion .item .visible {
    border-top: 1px solid #bbb
}

.accordion .item .title {
    background-color: #f4f4f4;
    padding: 8px
}

.accordion .item .title:hover {
    background-color: #dcdcdc;
    cursor: pointer
}

.accordion .item .content {
    padding: 8px;
    display: none
}

.accordion .item .visible {
    display: block
}

.accordion .item:last-child {
    border-bottom: none
}

blockquote {
    border-left: 3px solid #eee;
    margin: 0;
    padding-left: 15px
}

blockquote cite {
    color: #7f8c8d;
    display: block;
    font-size: .9em;
    font-style: normal;
    margin-top: 8px
}

.media,
form,
form .form-row {
    display: flex
}

.breadcrumbs {
    color: #a4b6b7;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em
}

.breadcrumbs a {
    color: #7f8c8d;
    margin: 0 1px
}

.breadcrumbs a:first-child {
    margin-left: 0
}

.breadcrumbs a:last-child {
    color: #2980b9;
    font-weight: 600
}

.breadcrumbs a:hover {
    color: #95a5a6;
    text-decoration: underline
}

.button-danger,
.button-danger-light,
.button-default,
.button-default-light,
.button-info,
.button-info-light,
.button-primary,
.button-primary-light,
.button-secondary,
.button-secondary-light,
.button-success,
.button-success-light,
.button-warning-light {
    border: none;
    color: #FFF;
    font: 13px/1.4 Roboto, sans-serif;
    padding: 8px 12px
}

.button-default {
    background-color: #7f8c8d;
    text-decoration: none
}

.button-default:hover {
    background-color: #667071;
    cursor: pointer
}

.button-danger {
    background-color: #c0392b;
    text-decoration: none
}

.button-danger:hover {
    background-color: #9a2e22;
    cursor: pointer
}

.button-info {
    background-color: #8e44ad;
    text-decoration: none
}

.button-info:hover {
    background-color: #72368a;
    cursor: pointer
}

.button-primary {
    background-color: #2c3e50;
    text-decoration: none
}

.button-primary:hover {
    background-color: #233240;
    cursor: pointer
}

.button-secondary {
    background-color: #2980b9;
    text-decoration: none
}

.button-secondary:hover {
    background-color: #216694;
    cursor: pointer
}

.button-success {
    background-color: #27ae60;
    display: block;
    text-decoration: none
}

.button-success:hover {
    background-color: #1f8b4d;
    cursor: pointer
}

.button-warning {
    background-color: #d35400;
    border: none;
    color: #FFF;
    font: 13px/1.4 Roboto, sans-serif;
    padding: 8px 12px;
    text-decoration: none
}

.button-warning:hover {
    background-color: #a94300;
    cursor: pointer
}

.button-default-light {
    background-color: #95a5a6;
    text-decoration: none
}

.button-default-light:hover {
    background-color: #778485;
    cursor: pointer
}

.button-danger-light {
    background-color: #e74c3c;
    text-decoration: none
}

.button-danger-light:hover {
    background-color: #b93d30;
    cursor: pointer
}

.button-info-light {
    background-color: #9b59b6;
    text-decoration: none
}

.button-info-light:hover {
    background-color: #7c4792;
    cursor: pointer
}

.button-primary-light {
    background-color: #34495e;
    text-decoration: none
}

.button-primary-light:hover {
    background-color: #2a3a4b;
    cursor: pointer
}

.button-secondary-light {
    background-color: #3498db;
    text-decoration: none
}

.button-secondary-light:hover {
    background-color: #2a7aaf;
    cursor: pointer
}

.button-success-light {
    background-color: #2ecc71;
    text-decoration: none
}

.button-success-light:hover {
    background-color: #25a35a;
    cursor: pointer
}

.button-warning-light {
    background-color: #e67e22;
    text-decoration: none
}

.button-warning-light:hover {
    background-color: #b8651b;
    cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-bottom: 6px
}

form {
    flex-direction: column
}

form .form-row>* {
    align-self: flex-start;
    margin-bottom: 1.2em
}

form .form-row label {
    padding-right: 2em;
    width: 18%
}

.media {
    align-items: flex-start
}

.media .media-figure {
    margin-right: .8em;
    max-width: 30%
}

.media .media-body {
    flex: 1
}

.media .media-body .title {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: .2em
}

.media .media-body .media {
    padding-left: 0
}

.media .media-body .media .media-figure {
    max-width: 20%
}

.media .media-body .media .media-body>.title {
    font-size: 1em
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, .4)
}

.modal .content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #ccc;
    width: 80%
}

.modal .content-heading {
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: 6px 10px 10px
}

.modal .content-heading .title {
    font-weight: 700;
    padding-top: 10px
}

.modal .content-heading .close {
    align-self: flex-end;
    border: 1px solid #ddd;
    color: #bbb;
    margin-left: auto;
    padding: 0 8px 2px
}

.left-nav,
.top-nav li.item {
    border-right: 1px solid rgba(255, 255, 255, .1)
}

.modal .content-heading .close:focus,
.modal .content-heading .close:hover {
    background-color: #eee;
    text-decoration: none;
    cursor: pointer
}

.left-nav,
.left-nav a.active,
.left-nav a:hover,
.nav,
.nav a.active,
.nav a:hover,
.top-nav,
.top-nav a.active,
.top-nav a:hover,
.top-nav li.item ul {
    background-color: rgba(0, 0, 0, .3)
}

.modal .content-body {
    padding: 10px
}

.left-nav,
.nav,
.top-nav {
    padding: 0;
    margin: 0
}

.left-nav a,
.nav a,
.top-nav a {
    text-decoration: none;
    padding: 12px 20px
}

.top-nav {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    display: flex
}

.left-nav li.item a,
.left-nav li.item ul li a,
.top-nav li.item ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, .08)
}

.top-nav li.item,
.top-nav li.item a {
    display: inline-block
}

.top-nav li.item a img {
    max-width: 18px;
    margin: 3px 7px 6px 0;
    vertical-align: middle
}

.top-nav li.item a.logo {
    font-weight: 500
}

.top-nav li.item a.logo .fa {
    margin-right: 6px
}

.top-nav li.item ul {
    display: none;
    padding: 0;
    position: absolute
}

.top-nav li.item ul.visible {
    display: block
}

.top-nav li.item ul li a {
    display: block
}

@media (max-width:768px) {
    .top-nav li.item:not(: first-child) {
        display: none
    }
}

.left-nav {
    margin-top: 44px;
    width: 300px;
    position: fixed;
    bottom: 0
}

.left-nav li.item,
.left-nav li.item a {
    display: block
}

.left-nav li.item ul {
    background-color: rgba(0, 0, 0, .2);
    display: none;
    padding: 0
}

.left-nav li.item ul.visible {
    display: block
}

.left-nav li.item ul li a {
    display: block;
    font-size: .95em;
    padding-left: 36px
}

.notification,
.notification-danger,
.notification-danger-light,
.notification-default,
.notification-default-light,
.notification-info,
.notification-info-light,
.notification-primary,
.notification-primary-light,
.notification-secondary,
.notification-secondary-light,
.notification-success,
.notification-success-light,
.notification-warning,
.notification-warning-light {
    color: #FFF;
    margin: 4px 0;
    padding: 8px 12px
}

.notification-default {
    background-color: #7f8c8d
}

.notification-danger {
    background-color: #c0392b
}

.notification-info {
    background-color: #8e44ad
}

.notification-primary {
    background-color: #2c3e50
}

.notification-secondary {
    background-color: #2980b9
}

.notification-success {
    background-color: #27ae60
}

.notification-warning {
    background-color: #d35400
}

.notification-default-light {
    background-color: #95a5a6
}

.notification-danger-light {
    background-color: #e74c3c
}

.notification-info-light {
    background-color: #9b59b6
}

.notification-primary-light {
    background-color: #34495e
}

.notification-secondary-light {
    background-color: #3498db
}

.notification-success-light {
    background-color: #2ecc71
}

.notification-warning-light {
    background-color: #e67e22
}

.pagination {
    border: 1px solid #bbb;
    border-right: none;
    display: inline-flex;
    margin: 0;
    padding: 0
}

.pagination li,
.pagination li a {
    display: inline-block
}

.pagination li a {
    border-right: 1px solid #bbb;
    padding: 8px 12px
}

.pagination li a.selected,
.pagination li a:hover {
    background-color: #e6e6e6
}

.panel {
    background-color: #f4f4f4;
    border: 1px solid #bbb;
    margin-bottom: 15px
}

.panel-heading {
    border-bottom: 1px solid #bbb;
    font-weight: 700;
    padding: 8px
}

.panel-body {
    padding: 8px
}

.pricing-table {
    background-color: #f6f6f6;
    margin: 0 10px
}

.pricing-table>* {
    padding: 10px;
    text-align: center
}

.pricing-table .header {
    background-color: #34495e
}

.pricing-table .header .title {
    color: #fff;
    display: block;
    font-size: 1.75em;
    font-weight: 300
}

.pricing-table .header .sub-title {
    color: #ddd;
    display: block;
    font-weight: 300
}

.pricing-table .content,
.pricing-table .footer {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb
}

.pricing-table .content ul {
    color: #444;
    line-height: 1.6em;
    margin: 0;
    padding: 0
}

.pricing-table .footer {
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb
}

.progress-container {
    background-color: #DDD;
    overflow: hidden;
    height: 1.2em;
    margin: 4px 0
}

.progress-container .progress,
.progress-container .progress-danger,
.progress-container .progress-danger-light,
.progress-container .progress-default,
.progress-container .progress-default-light,
.progress-container .progress-info,
.progress-container .progress-info-light,
.progress-container .progress-primary,
.progress-container .progress-primary-light,
.progress-container .progress-secondary,
.progress-container .progress-secondary-light,
.progress-container .progress-success,
.progress-container .progress-success-light,
.progress-container .progress-warning,
.progress-container .progress-warning-light {
    color: #FFF;
    font-size: .9em;
    height: 100%;
    line-height: 1.2em;
    padding: .1em 0;
    text-align: center
}

.progress-container .progress-default {
    background-color: #7f8c8d
}

.progress-container .progress-danger {
    background-color: #c0392b
}

.progress-container .progress-info {
    background-color: #8e44ad
}

.progress-container .progress-primary {
    background-color: #2c3e50
}

.progress-container .progress-secondary {
    background-color: #2980b9
}

.progress-container .progress-success {
    background-color: #27ae60
}

.progress-container .progress-warning {
    background-color: #d35400
}

.progress-container .progress-default-light {
    background-color: #95a5a6
}

.progress-container .progress-danger-light {
    background-color: #e74c3c
}

.progress-container .progress-info-light {
    background-color: #9b59b6
}

.progress-container .progress-primary-light {
    background-color: #34495e
}

.progress-container .progress-secondary-light {
    background-color: #3498db
}

.progress-container .progress-success-light {
    background-color: #2ecc71
}

.progress-container .progress-warning-light {
    background-color: #e67e22
}

table {
    border-collapse: collapse;
    width: 100%
}

table tr .table-cell,
table tr td,
table tr th {
    border: 1px solid #ccc;
    padding: 4px 8px;
    text-align: left
}

table tr th {
    background-color: #eee;
    font-weight: 500
}

.tab-nav {
    background-color: #2c3e50;
    display: flex;
    padding: 0;
    margin: 0
}

.tab-nav li {
    display: inline-block
}

.tab-nav li a {
    border-right: 1px solid rgba(255, 255, 255, .05);
    color: #FFF;
    display: inline-block;
    text-decoration: none;
    padding: 12px 20px
}

.tab-nav li a.active,
.tab-nav li a:hover {
    background-color: #212f3c;
    color: #FFF;
    font-weight: 400
}

.tab-content {
    border: 1px solid #95a5a6;
    border-top: none;
    padding: 12px 20px
}

.tab-content>div {
    display: none
}

.tab-content>div.visible {
    display: block
}

.text {
    font: 13px/1.4 Roboto, sans-serif
}

.text-default {
    color: #7f8c8d
}

.text-danger {
    color: #c0392b
}

.text-info {
    color: #8e44ad
}

.text-primary {
    color: #2c3e50
}

.text-secondary {
    color: #2980b9
}

.text-success {
    color: #27ae60
}

.text-warning {
    color: #d35400
}

.text-default-light {
    color: #95a5a6
}

.text-danger-light {
    color: #e74c3c
}

.text-info-light {
    color: #9b59b6
}

.text-primary-light {
    color: #34495e
}

.text-secondary-light {
    color: #3498db
}

.text-success-light {
    color: #2ecc71
}

.text-warning-light {
    color: #e67e22
}

.text-thin {
    font-weight: 100
}

.text-light {
    font-weight: 300
}

.text-normal {
    font-weight: 400
}

.text-medium {
    font-weight: 500
}

.text-bold {
    font-weight: 700
}

.text-black {
    font-weight: 900
}

body {
    font: 13px/1.4 Roboto, sans-serif
}

a,
a:visited {
    color: #2980b9;
    text-decoration: none
}

a:hover,
a:visited:hover {
    color: #3498db
}

a.active,
a:visited.active {
    font-weight: 700
}

.left-nav a,
.left-nav a:visited,
.nav a,
.nav a:visited,
.top-nav a,
.top-nav a:visited {
    color: #fff
}

img {
    max-width: 100%
}

hr {
    border-style: none;
    border-top: 1px solid #b3c6c7
}

p {
    margin: 0 0 .75em
}

pre {
    border: 1px solid #a4b6b7!important;
    padding: 6px 8px!important
}

ul li {
    list-style-type: disc
}

.commentContainer {
    margin-bottom: 20px;
}

#container {
    margin: 10px;
    
}

#container button.create {
    margin-bottom: 8px
}

#container .board {
    background-color: #b9def0;
    height: 100%;
    padding: 4px
}

#container .board .commentContainer {
    background: #eee;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 8px;
    padding: 8px;
   
}

#container .board .commentContainer .comment {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 10px
}

#container .board .commentContainer button {
    margin-right: 6px
}

#container .board .commentContainer textarea {
    display: block;
    margin-bottom: 10px
}

#container .commentContainer .commentText {
    font-weight: bold;
    margin: 10px 0;
    font-size: 16px;
}

.commentContainer button {
    float: left;
    margin-bottom: 20px;
}

.commentContainer .commentText a {
    display: block !important;
    clear: left;
}

#container input {
    display: block;
    padding: 10px;
    border-width: 1px;
    box-shadow: none;
    border-radius: 5px;
    width: 175px;
}